.settingsPane {
    display: flex;
    flex-direction: column;
    padding:0.5rem;
    align-items: center;
    width:100%;
    gap:0.5rem;
}

.nestedDropdowns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
}

.dropdownField {
    width:100%;
}