:root {
    --bg-primary: white;
    --bg-secondary: #f5f5f5;
    --border-color-active:#007bff;
    --tabs-border-color: #a8a7a7;
    --tabs-hover-color:#cfcbcb;
    --tabs-focus-color:#007bff;
    --content-pane-border-colour: rgba(6,4,17,0.45);
    --toggle-slider-bg:#ccc;
    --default-text-color:black;
}

:root.dark {
    --bg-primary: #201f1f;
    --bg-secondary: #333333;
    --border-color-active: white;
    --tabs-border-color: #a8a7a7;
    --tabs-hover-color: #1e1d1d;
    --tabs-focus-color:white;
    --content-pane-border-colour: rgba(220, 220, 223, 0.45);
    --toggle-slider-bg:#ccc;
    --default-text-color:white;
}