#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: var(--bg-primary);
}

p {
    color: var(--default-text-color);
}

.baseScene {
    background-color: var(--bg-primary);
}


.toggle {
    position:relative;
    top: 20px;
    left: 5px;
    display: inline-block;
    width: 36px;
    height: 18px;
    cursor:pointer;
}

.toggle input {
    opacity:0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--toggle-slider-bg);
    border-radius: 16px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position:absolute;
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: var(--bg-primary);
    border-radius: 50%;
    transition: 0.3s;
}

.toggle input:checked + .slider {
    background-color: var(--border-color-active);
}

.toggle input:checked + .slider::before {
    transform: translateX(18px);
}